Node-Red/sales node red com db.json
[
    {
        "id": "b3b08e7abe70b543",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ba348912d8eae88",
        "type": "inject",
        "z": "b3b08e7abe70b543",
        "name": "Refresh Tabela",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 300,
        "wires": [
            [
                "5607e8d69169dc45"
            ]
        ]
    },
    {
        "id": "5607e8d69169dc45",
        "type": "MSSQL",
        "z": "b3b08e7abe70b543",
        "mssqlCN": "f20d2f4b5cb8d75a",
        "name": "Get Sales Table",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "SELECT TOP 10\r\n    sale_id as ID,\r\n    LEFT(product_name, 30) as Produto,\r\n    CAST(quantity AS VARCHAR) + ' un' as Qtd,\r\n    '€' + total_amount as Valor,\r\n    UPPER(status) as Status\r\nFROM sales\r\nORDER BY sale_id DESC;",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 580,
        "y": 300,
        "wires": [
            [
                "867449efe6afca84"
            ]
        ]
    },
    {
        "id": "5101f657976930f7",
        "type": "inject",
        "z": "b3b08e7abe70b543",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 500,
        "wires": [
            [
                "6ca12ecf0a17ad90"
            ]
        ]
    },
    {
        "id": "6ca12ecf0a17ad90",
        "type": "MSSQL",
        "z": "b3b08e7abe70b543",
        "mssqlCN": "f20d2f4b5cb8d75a",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "SELECT TOP 10\r\n    product_name as categoria,\r\n    SUM(\r\n        CAST(\r\n            REPLACE(REPLACE(total_amount, '€', ''), ',', '.') \r\n            AS DECIMAL(10,2)\r\n        )\r\n    ) as receita\r\nFROM sales\r\nWHERE product_name IS NOT NULL\r\nGROUP BY product_name\r\nORDER BY receita DESC;\r\n",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 560,
        "y": 500,
        "wires": [
            [
                "4fb68ac661192b7f"
            ]
        ]
    },
    {
        "id": "d0356ea60a839fe2",
        "type": "inject",
        "z": "b3b08e7abe70b543",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 640,
        "wires": [
            [
                "46b7dd86affba35c"
            ]
        ]
    },
    {
        "id": "cc1f6a788626b6eb",
        "type": "debug",
        "z": "b3b08e7abe70b543",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 620,
        "wires": []
    },
    {
        "id": "46b7dd86affba35c",
        "type": "MSSQL",
        "z": "b3b08e7abe70b543",
        "mssqlCN": "f20d2f4b5cb8d75a",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "SELECT TOP 10\r\n    sale_id,\r\n    sale_date,\r\n    customer_email,\r\n    product_name,\r\n    quantity,\r\n    unit_price,\r\n    total_amount,\r\n    status\r\nFROM sales\r\nORDER BY sale_date DESC;",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 520,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a039820e6df5664d",
        "type": "inject",
        "z": "b3b08e7abe70b543",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 760,
        "wires": [
            [
                "4e8deef5794d56c8"
            ]
        ]
    },
    {
        "id": "e925306a4afe88d5",
        "type": "debug",
        "z": "b3b08e7abe70b543",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 740,
        "wires": []
    },
    {
        "id": "4e8deef5794d56c8",
        "type": "MSSQL",
        "z": "b3b08e7abe70b543",
        "mssqlCN": "f20d2f4b5cb8d75a",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "SELECT TOP 10\r\n    sale_id,\r\n    sale_date,\r\n    customer_email,\r\n    product_name,\r\n    quantity,\r\n    unit_price,\r\n    total_amount,\r\n    status\r\nFROM sales\r\nORDER BY sale_date DESC;",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 500,
        "y": 760,
        "wires": [
            [
                "e925306a4afe88d5"
            ]
        ]
    },
    {
        "id": "867449efe6afca84",
        "type": "ui_table",
        "z": "b3b08e7abe70b543",
        "group": "7e43c3920c0cce9b",
        "name": "Last 10 sales",
        "order": 0,
        "width": "6",
        "height": "6",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "517c68fdf2e32750",
        "type": "ui_chart",
        "z": "b3b08e7abe70b543",
        "name": "",
        "group": "7e43c3920c0cce9b",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "Receita por Dia",
        "chartType": "bar",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "4fb68ac661192b7f",
        "type": "function",
        "z": "b3b08e7abe70b543",
        "name": "function 1",
        "func": "let labels = [];\nlet data = [];\n\nmsg.payload.forEach(row => {\n    labels.push(row.categoria);   // ← mudou de \"data\" para \"categoria\"\n    data.push(parseFloat(row.receita) || 0);\n});\n\nmsg.payload = [{\n    \"series\": [\"Receita\"],\n    \"data\": [data],\n    \"labels\": labels\n}];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 420,
        "wires": [
            [
                "517c68fdf2e32750",
                "cc1f6a788626b6eb"
            ]
        ]
    },
    {
        "id": "f20d2f4b5cb8d75a",
        "type": "MSSQL-CN",
        "tdsVersion": "7_4",
        "name": "SQL Server Local",
        "server": "localhost",
        "port": "1433",
        "encyption": false,
        "trustServerCertificate": true,
        "database": "EcommerceETL",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true,
        "readOnlyIntent": false
    },
    {
        "id": "7e43c3920c0cce9b",
        "type": "ui_group",
        "name": "Sales Analytics",
        "tab": "57592cce1d3f857a",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "57592cce1d3f857a",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "498aba1d0784d3e7",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-mssql-plus-box": "0.1.4",
            "node-red-node-ui-table": "0.4.5",
            "node-red-dashboard": "3.6.6"
        }
    }
]